<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h2 class="page-header">{:__('Order index')}</h2>
                    <div class="row user-baseinfo">
                        
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <!-- Content -->
                            <div class="ui-content">
                                <!-- Success -->
                                <div style="margin-top:15px;">
                                    <table class="table">   
                                        <tbody>
                                            <!-- <tr>
                                                <th>{:__('Lv')}</th>
                                                <td><a href="javascript:;" class="viewlv">{$user.level}</a></td>
                                                <th>{:__('Score')}</th>
                                                <td><a href="javascript:;" class="viewscore">{$user.score}</a></td>
                                            </tr> -->

                                            <tr>
                                                <th>订单号</th>
                                                <th>商品</th>
                                                <th>数量</th>
                                                <th>订单状态</th>
                                                <th>订单时间</th>
                                                <th>操作</th>
                                            </tr>

                                            <tr>
                                                <td>2018032918-18-2212</td>
                                                <td>TokenMan VIP账户</td>
                                                <td>1</td>
                                                <td>已完成</td>
                                                <td>2018-03-29 18:19:22</td>
                                                <td>
                                                    <a href="javascript:;" class="viewscore">查看详情</a>
                                                    <a href="javascript:;" class="viewscore">联系客服</a>
                                                </td>

                                            </tr>


                                            <tr>
                                                <td>2018032918-18-2212</td>
                                                <td>TokenMan VIP账户</td>
                                                <td>1</td>
                                                <td>未支付</td>
                                                <td>2018-03-29 18:19:22</td>
                                                <td>
                                                    <a href="javascript:;" class="viewscore">查看详情</a>
                                                    <a href="javascript:;" class="viewscore">联系客服</a>
                                                </td>

                                            </tr>


                                            <tr>
                                                <td>2018032918-18-2212</td>
                                                <td>TokenMan VIP账户</td>
                                                <td>1</td>
                                                <td>发货中</td>
                                                <td>2018-03-29 18:19:22</td>
                                                <td>
                                                    <a href="javascript:;" class="viewscore">查看详情</a>
                                                    <a href="javascript:;" class="viewscore">联系客服</a>
                                                </td>

                                            </tr>
                                            
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>